@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Scope+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins,sans-serif ;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: #c5e6ee; */
    background-color: #252627;
}
/* body .dark{
    background-color: #242526;
    color: #fff;
} */
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.main .clock{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: #ecf0f1; */
    background-color: #000;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 15px 25px rgb(0,0 , 0,0.3), 0 25px 45px rgb(0,0 , 0,0.3);
}
.main .clock label{
    position: absolute;
    inset:20px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg/12)));
}
.clock label span{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    /* color: #000; */
    color: #fff;
    transform: rotate(calc(var(--i) * (-360deg/12)));

}

.main .centre{
    position: absolute;
    height: 10px ;
    width: 10px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.centre::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    border-radius: 50%;
    background: #000;
    border: 4px solid red;
}
.centre .hand{
    position: absolute;
    height: 130px;
    width: 4px;
    background: red;
    bottom: 0;
    border-radius: 25px;
    transform-origin: bottom;
}

.hand.minute{
    height: 120px;
    width: 5px;
    background: rgb(23, 8, 230);
    /* transform: rotate(45deg); */
}
.hand.hour{
    height: 100px;
    width:6px;
    /* transform: rotate(5deg); */
    background: rgb(218, 207, 207);
}

.main .dark-white{
    width: 140px;
    height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;  
    border-radius: 5px;
   font-size: 22px;
    font-weight: 600;
    box-shadow: 0 5px 10px  rgba(0,0,0,5);
    cursor: pointer;
    user-select: none;
}
